
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme  {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-primary: #00004d;
  --color-brand-hover: #002366;
  --color-brand-gradient: #192bc2;
  --color-brand-secondary: #FFF4BC;
  --color-brand-background: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-slideDown {
  animation: slideDown 0.2s ease-out;
}
